.color-body {
    height: 600vh;
    background-color:  #f8f8f8;
}

.font {
    font-family: "Cairo", sans-serif;
    font-size: 20px;
}

.rectangle {
    height: 600px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}

.dates-count {
    color: #555555;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-style {
    width:200px;
    border-radius:2px;
    color:#fff;
    background:#224f61;
}

.img-size {
    width:60px;
    height:60px;
    border-radius:50%;
}